{ sub_dirs, [ "rel" ] }.
{ eunit_opts, [verbose, { skip_deps, true }] }.  
{ eunit_exclude_deps, true }.  
{ cover_enabled, true }.  
{ incl_app, gh, details }.  
{ incl_dirs_r, ["src", "test"] }.  
{ src_dirs, gh, ["src", "test"] }.
{ plugins, [rebar_ct] }.
{ deps,
[
    { jsx, ".*", { git, "git@github.com:talentdeficit/jsx.git" } }
]}.