{ sub_dirs, [ "rel" ] }.
{ eunit_opts, [verbose, { skip_deps, true }] }.  
{ eunit_exclude_deps, true }.  
{ cover_enabled, true }.
{ plugins, [rebar_ct] }.
{ erl_opts, [{ i, "src/" }] }.
{ deps,
[
    { jsx,  ".*", { git, "git://github.com/talentdeficit/jsx.git" } },
    { want, ".*", { git, "git://github.com/wrren/want.erl.git" } }
]}.