{ sub_dirs, [ "rel" ] }.
{ eunit_opts, [verbose, { skip_deps, true }] }.  
{ eunit_exclude_deps, true }.  
{ cover_enabled, true }.
{ deps,
[
    { jsx,  ".*", { git, "git://github.com/talentdeficit/jsx.git" } },
    { want, ".*", { git, "git://github.com/wrren/want.erl.git" } }
]}.
{ ct_opts, [{ config, "config/test.config" }] }.